body {
    background: linear-gradient(to right, lightblue, lightpink);
}

.wrapper {
    width: 50%;
    margin: auto;
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
    color: black;
}

h2 {
    font-size: 25px;
    cursor: default;
}

#list {
    cursor: pointer;
    padding: 0 0 0 0;
}

#input {
    margin: 10px 0px 10px 0px;
    border-radius: 2px;
    border-color: transparent;
    background-color: white;
}

button {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 70px;
    height: 21px;
    margin: 10px 10px 10px 10px;
    background-color: white;
    color: black;
    border-width: .5px;
    border-color: transparent;
    font-size: 1rem;
    border-radius: 10%;
}

button:hover {
    background-color: skyblue;
    color: white;
}

.form {
    display: inline-flex;
}
